.pagination {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pageLink {
  width: 40px;
  height: 40px;
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #9eaab4;
  font-weight: 500;
  cursor: pointer;
  background-color: #f7f7f7;
}

.active,
.pageLink:hover {
  color: #0cb4f1;
}
