:root {
  --numberColumns: 4;
}

.usersList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: Inter;
  color: var(--ternaryGrey);
  width: 961px;
  height: auto;
  background: var(--white);
  border-radius: 7px;
  margin-top: 15px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 14px;
  width: 925px;
  color: var(--quaternaryGrey);
  margin-top: 16px;
  padding-bottom: 22px;
  border-bottom: 1px solid var(--primaryGrey);
}

.title > p {
  margin: 0;
  padding: 0;
  width: calc((925px - 18px) / var(--numberColumns));
  font-size: 10px;
  line-height: 14px;
}
