.SearchBlock {
  display: flex;
  flex-direction: column;
  width: 961px;
  height: 102px;
  background: #ffffff;
  box-shadow: 0px 18px 15px rgba(148, 148, 148, 0.15);
  border-radius: 7px;
}
