.search {
  display: flex;
  align-content: center;
  width: 870px;
  height: 34px;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: var(--fivefoldGrey);
  border-radius: 4px;
  margin: 12px 0 0 16px;
  outline: none;
  border: none;
  background-image: url(/public/images/searchIcon.png);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 31px;
}
