.window {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}

.confirmationModal {
  width: 355px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: 8px;
}

.confirmationModal > p {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--black);
}

.buttonSuccess {
  margin-top: -20px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--secondaryGrey);
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey6);
  border-radius: 3px;
  width: 90px;
  height: 30px;
}

.falseButton {
  color: var(--white);
  background-color: var(--primaryBlue);
  margin-left: 36px;
}

.modal_open {
  display: flex;
}

.modal_closed {
  display: none;
}
