.clearWrapper {
  padding: 0;
  margin-top: 24px;
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.clearWrapper > p {
  margin: 0;
  font-family: Inter;
  color: var(--lightBlack);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  user-select: none;
}

.clearWrapper > img {
  margin: 0;
  width: 16px;
  height: 16px;
}
