:root {
  --white: #fff;
  --black: #000;
  --lightBlack: #4f4f4f;
  --lightBlack2: #333333;
  --primaryBlue: #0cb4f1;
  --primaryGrey: #f7f7f7;
  --secondaryGrey: #e0e0e0;
  --ternaryGrey: #acacac;
  --quaternaryGrey: #9eaab4;
  --fivefoldGrey: #eceff0;
  --grey6: #828282;
}
